<form>
    <legend>Form Add Employee</legend>

    <div class="form-group">
        <label for="">First Name</label>
        <input type="text" class="form-control" #fname>
    </div>
    <div class="form-group">
        <label for="">Last Name</label>
        <input type="text" class="form-control" #lname>
    </div>
    <div class="form-group">
        <label for="">Email</label>
        <input type="text" class="form-control" #email>
    </div>

    <button type="button" class="btn btn-primary" (click)="createEmployee(fname.value, lname.value, email.value)">Submit</button>
</form>

